


<h1>Please choose a house.</h1>

<p></p>
<p></p>
<a href="/welcome/gryffindor" class="glow">Griffindor</a>
<p></p>
<p></p>
<a href="/welcome/ravenclaw" class="glow">Ravenclaw</a>
<p></p>
<p></p>
<a href="/welcome/hufflepuff" class="glow">Hufflepuff</a>
<p></p>
<p></p>
<a href="/welcome/slytherin" class="glow">Slytherin</a>