


<h1>Welcome to the Hogwarts student database</h1>
<h1>Please select from the options below</h1>
<p></p>
<p></p>
<a href="/welcome/index" class="glow">Students</a>
<p></p>
<p></p>
<a href="/welcome/houses_index" class="glow">Houses</a>



